<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Update</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
	</head>
	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								2023/3/14
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a th:href="@{/home}">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						Update a label:
					</h1>
					<form th:action="@{/user/updateLabel}" method="Get">
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									id:
								</td>
								<td valign="middle" align="left">
									<span th:text="${label.getId()}"></span>
									<input type="hidden" name="id" th:value="${label.getId()}">
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									Label Name:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="labelName" value="New Name"/>
								</td>
							</tr>
						</table>
						<p>
							<input type="submit" class="button" value="Update" />
<!--							<input type="button" class="button" value="返回列表" />-->
						</p>
					</form>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
